.menu{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background-color: #338b85;
    position: absolute;
    top: 80px;
    left: 0px;
    height: 300px;
    width: 30%;
}

.menu-barras{
    display: initial;
}

#icone{
    color: white;
    font-size: 30px;
}